.clearDiv {
  clear: both;
  float: none;
}

.favBarText {
  float: left;
  margin-right: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.favBarPlus {
  float: left;
  color: #FFF;
  padding: 0px 15px;
  background: #000;
  cursor: pointer;
}

.favBarText,
.favBarPlus {
  font-size: 18px;
}
