.sidebarItem {
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0;
}

.sidebarName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.deleteFav {
  float: right;
  color: #FFF;
  padding: 5px 15px;
  background: #000;
  cursor: pointer;
}

.sidebarDescription {
  max-width: 385px;
}
